beautifulsoup4==4.9.3
boto3==1.34.49
feedparser==6.0.10
heartrate==0.2.2
num2words==0.5.12
openai==0.27.9
Pillow==10.3.0
Pillow==10.3.0
protobuf==4.21.7
python-dotenv==1.0.1
pytz==2022.6
PyVirtualDisplay==3.0
Requests==2.31.0
selenium==4.11.2
systemd==0.17.1
transmission_rpc==7.0.3